<h1>Sacar</h1><br>

<div class="well">
	<h2>O saldo da conta é de:</h2><br>
  <form>
		<div class="row g-3">
			<label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Valor do saque:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control form-control-lg" id="colFormLabelLg"
				required>
				<div class="alert alert-danger">
					<div> 
						Digite um valor para sacar. 
					</div>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<button type="button" class="btn btn-primary">
				<i class="fa fa-save" aria-hidden="true"></i> Sacar
			</button>
			<a class="btn btn-danger">
				<i class="fa fa-cancel" aria-hidden="true"></i> Cancelar
			</a>
    </div>
  </form>
</div>