<br><h1 style="margin-left: 10px">Autorizar Autocadastro</h1>

<table class="table table-striped table-bordered table-hover">
  <tbody>
		<br>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Salário</th>
    	<th>Autorização</th>
    </tr>
    <tr *ngFor="let client of clients">
      <div *ngIf="client.status === 'PENDENTE'"><td> {{client.nome}} </td>
      <td> {{client.cpf! | cpfPipe}} </td>
      <td> {{client.salario | currency:'BRL'}} </td>
      <td class="text-center" style="width: 300px">
				<button type="button" class="btn btn-xs btn-info"
        (click)="aprovar(client)"
        >
          <i class="fa fa-edit" aria-hidden="true"></i> Aprovar
        </button>
				<button type="button" class="btn btn-xs btn-danger"
          (click)="reprovar(client)" >
          <i class="fa fa-times" aria-hidden="true"></i> Recusar
        </button>      
      </td></div>
    </tr>
  </tbody>
</table>

<p *ngIf="!clients">Nenhuma autocadastro realizado.</p>