<!-- <br><h1 style="margin-left: 10px">Depositar</h1><br>

<div class="well" style="margin-left: 20px; margin-right: 25px;">
	<h2>O saldo da conta é de: {{saldo?.saldo| currency:'BRL'}}</h2><br>
  <form #formDeposito="ngForm">
		<div class="row g-3">
			<label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Valor do depósito:</label>
			<div class="col-sm-3">
				<input type="text" class="form-control form-control-lg" id="colFormLabelLg" name="valor"
				#valor="ngModel"
				[(ngModel)]="cliente.salario"
				required
				numerico>
				<div *ngIf="valor.errors && (valor.dirty || valor.touched)" class="alert alert-danger">
					<div [hidden]="!valor.errors?.['required']"> 
						Digite um valor para depósito. 
					</div>
				</div>
			</div>
		</div>
		
		<br><div class="form-group">
			<button type="button" class="btn btn-primary"
			(click)="depositar(cliente.salario!)"
			[disabled]="!formDeposito.form.valid"
			style="margin-right: 20px;">
				<i class="fa fa-save" aria-hidden="true"></i> Depositar
			</button>
			<a class="btn btn-danger"
			[routerLink]="['/client/tela-inicial']">
				<i class="fa fa-cancel" aria-hidden="true"></i> Cancelar
			</a>
    </div>
  </form>
</div> -->