<div class="modal-header">
    <button type="button" class="close" aria-label="Fechar"
        (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modalLabel"> Cliente </h4>
</div>

<div class="modal-body text-center">
    <div>
        <p>Nome: {{client.cliente.nome}}</p>
        <p>Email: {{client.cliente.email}}</p>
        <p>CPF:  {{client.cliente.cpf ?? '' | mask: '000.000.000-00'}}</p>
        <p>Endereço: {{client.cliente.endereco.tipo}} {{client.cliente.endereco.logradouro}}, {{client.cliente.endereco.numero}} - {{client.cliente.endereco.cep | mask: '00.000-00'}}</p>
        <p>Salário: {{client.conta.salario | currency:'BRL'}}</p>
        <p>Conta: {{client.conta.numero}}</p>
        <p>Data de criação da conta: {{client.conta.dataCriacao | date: 'dd/MM/yyyy'}}</p>
        <p>Limite: {{client.conta.limite | currency:'BRL'}}</p>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" 
    (click)="activeModal.close()">Fechar</button>
</div>
