<br><h1 style="margin-left: 10px">Extrato</h1>

<br><h2 style="margin-left: 10px">Saldo: {{saldo?.saldo | currency:'BRL'}}</h2>
<table class="table table-striped table-bordered table-hover">
    <tbody>
        <br>
        <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Operação</th>
            <th>Cliente Origem</th>
            <th>Cliente Destino</th>
            <th>Valor</th>
        </tr>
        <tr *ngFor="let transaction of extrato">
            <td> {{transaction.dataHora| date:'dd/MM/yyyy'}} </td>
            <td> {{transaction.dataHora | date:'HH:mm:ss'}} </td>
            <td> {{transaction.tipoMovimentacao}} </td>
            <td *ngIf="transaction.tipoMovimentacao === 'TRANSFERENCIA'"> {{transaction.idClienteOrigem}} </td>
            <td *ngIf="transaction.tipoMovimentacao !== 'TRANSFERENCIA'"> - </td>
            <td *ngIf="transaction.tipoMovimentacao === 'TRANSFERENCIA'"> {{transaction.idClienteDestino}} </td>
            <td *ngIf="transaction.tipoMovimentacao !== 'TRANSFERENCIA'"> - </td>
            <td *ngIf="transaction.tipoMovimentacao === 'SAQUE'" style="color: red;"> - {{transaction.valor | currency:'BRL'}} </td>
            <td *ngIf="transaction.tipoMovimentacao === 'DEPOSITO'" style="color: blue;"> {{transaction.valor | currency:'BRL'}} </td>
            <td *ngIf="transaction.valor < 0 && transaction.tipoMovimentacao === 'TTRANSFERENCIA'" style="color: red;"> - {{transaction.valor | currency:'BRL'}} </td>
            <td *ngIf="transaction.valor >= 0 && transaction.tipoMovimentacao === 'RANSFERENCIA'" style="color: blue;"> {{transaction.valor | currency:'BRL'}} </td>
        </tr>
    </tbody>
</table>

<p *ngIf=" extrato && extrato.length==0">Nenhuma operação realizada.</p>